/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bold {
    font-weight: bold;
}

.commencement {
    display: flex;
    justify-content: flex-start; 
    margin-left: 1em;

    div {
        display: flex;
        align-items: center;
        margin-left: 1em;
    }
}
